html
  head
    title Modifier les valeurs
  body
    form(method="POST", action="/dashboard/submit")
      label(for="company-uuid") Company UUID:
      input(type="text", name="company-uuid", value="b08ea31e-fb21-457e-bdbb-eb3cd8b63e60")
      br
      label(for="group-token") Group Token:
      input(type="text", name="group-token", value="random_value_for_group_tokennn")
      br
      label(for="company-api-url") Company API URL:
      input(type="text", name="company-api-url", value="random_value_for_company_api_url")
      br
      label Extern API Token:
      br
      label(for="weather") Weather:
      input(type="text", name="extern-api-token[weather]", value="random_value_for_weather")
      br
      label(for="stock") Stock:
      input(type="text", name="extern-api-token[stock]", value="random_value_for_stock")
      br
      label(for="gpt3") GPT-3:
      input(type="text", name="extern-api-token[gpt3]", value="random_value_for_gpt2")
      br
      label Custom:
      br
      label(for="background-1") Background 1:
      input(type="text", name="custom[background-1]", value="random_value_for_background_1")
      br
      label(for="background-1-dark") Background 1 Dark:
      input(type="text", name="custom[background-1-dark]", value="random_value_for_background_1_dark")
      br
      label(for="background-2") Background 2:
      input(type="text", name="custom[background-2]", value="random_value_for_background_2")
      br
      label(for="background-2-dark") Background 2 Dark:
      input(type="text", name="custom[background-2-dark]", value="random_value_for_background_2_dark")
      br
      label(for="background-3") Background 3:
      input(type="text", name="custom[background-3]", value="random_value_for_background_3")
      br
      label(for="background-3-dark") Background 3 Dark:
      input(type="text", name="custom[background-3-dark]", value="random_value_for_background_3_dark")
      br
      label(for="background-4") Background 4:
      input(type="text", name="custom[background-4]", value="random_value_for_background_4")
      br
      label(for="background-4-dark") Background 4 Dark:
      input(type="text", name="custom[background-4-dark]", value="random_value_for_background_4_dark")
      br
      label(for="button-primary") Button Primary:
      input(type="text", name="custom[button-primary]", value="random_value_for_button_primary")
      br
      label(for="button-primary-dark") Button Primary Dark:
      input(type="text", name="custom[button-primary-dark]", value="random_value_for_button_primary_dark")
      br
      label(for="button-secondary") Button Secondary:
      input(type="text", name="custom[button-secondary]", value="random_value_for_button_secondary")
      br
      label(for="button-secondary-dark") Button Secondary Dark:
      input(type="text", name="custom[button-secondary-dark]", value="random_value_for_button_secondary_dark")
      br
      label(for="button-primary-foreground") Button Primary Foreground:
      input(type="text", name="custom[button-primary-foreground]", value="random_value_for_button_primary_foreground")
      br
      label(for="button-primary-foreground-dark") Button Primary Foreground Dark:
      input(type="text", name="custom[button-primary-foreground-dark]", value="random_value_for_button_primary_foreground_dark")
      br
      label(for="button-secondary-foreground") Button Secondary Foreground:
      input(type="text", name="custom[button-secondary-foreground]", value="random_value_for_button_secondary_foreground")
      br
      label(for="button-secondary-foreground-dark") Button Secondary Foreground Dark:
      input(type="text", name="custom[button-secondary-foreground-dark]", value="random_value_for_button_secondary_foreground_dark")
      br
      label(for="title-primary") Title Primary:
      input(type="text", name="custom[title-primary]", value="random_value_for_title_primary")
      br
      label(for="title-primary-dark") Title Primary Dark:
      input(type="text", name="custom[title-primary-dark]", value="random_value_for_title_primary_dark")
      br
      label(for="title-secondary") Title Secondary:
      input(type="text", name="custom[title-secondary]", value="random_value_for_title_secondary")
      br
      label(for="title-secondary-dark") Title Secondary Dark:
      input(type="text", name="custom[title-secondary-dark]", value="random_value_for_title_secondary_dark")
      br
      label(for="text-primary") Text Primary:
      input(type="text", name="custom[text-primary]", value="random_value_for_text_primary")
      br
      label(for="text-primary-dark") Text Primary Dark:
      input(type="text", name="custom[text-primary-dark]", value="random_value_for_text_primary_dark")
      br
      label(for="text-secondary") Text Secondary:
      input(type="text", name="custom[text-secondary]", value="random_value_for_text_secondary")
      br
      label(for="text-secondary-dark") Text Secondary Dark:
      input(type="text", name="custom[text-secondary-dark]", value="random_value_for_text_secondary_dark")
      br
      label(for="default-language") Default Language:
      input(type="text", name="custom[default-language]", value="random_value_for_default_language")
      br
      label(for="logo.src") Logo Src:
      input(type="text", name="logo[src]", value="test.png")
      br
      label(for="logo.logo-data") Logo Data:
      input(type="text", name="logo[logo-data]", value="iVBORw0KGgoAAAANSUhEUgAAAI0AAAB5CAMAAAAzg1KYAAAAh1BMVEXVSC/////u7u7t7e3v7+/9/f3s7Oz5+fnz8/P29vbUQyjTOhrmoJjVRizUQSbTPB7ZaFnxzMj1+/zSMQjSNhTdd2nRKADaZFD35+TgnJbz2dfw393nrabab2HXWkfXUjzjkYbptrPlmY/57+3hhnrwxL/ipJ3efXDPFgDbgXrbh37y087uvbaaTTyyAAAHqklEQVR4nO1biZKqOhAlQEgiAoroOI7LCLPcd/X/v++RBQlLQgJ4l6rbUzXVZbXtIX")

    br
    input(type="submit", value="Envoyer")